*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Screen1 {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.Screen1_background {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.blackBear_screen1,
.Bus_screen1,
.rabit_screen1,
.Start_screen1,
.Text1_screen1,
.Text2_screen1,
.Fox_screen1,
.whiteBear_screen1,
.info_btn_screen1 {
  position: absolute;
}
.Bus_screen1 {
  z-index: 0;
  width: 85vw;
  height: 70vh;
  left: -7.5vw;
  top: 20vh;
}
.rabit_screen1 {
  width: 17vw;
  height: 40vh;
  right: 0vw;
  bottom: 0px;
}
.blackBear_screen1 {
  z-index: 1;
  width: 14.6vw;
  height: 33.5vh;
  left: 21.5vw;
  bottom: 2.5vh;
}
.Start_screen1 {
  width: 17.4vw;
  height: 12vh;
  left: 41vw;
  top: 55vh;
}
.Text1_screen1 {
  width: 34.5vw;
  height: 18.5vh;
  left: 14.2vw;
  top: 13vh;
}
.Text2_screen1 {
  width: 73vw;
  height: 28vh;
  left: 5vw;
  top: 28vh;
}
.whiteBear_screen1 {
  width: 12.4vw;
  height: 33.5vh;
  left: 63.38vw;
  bottom: 2.5vh;
}
.Fox_screen1 {
  width: 15.2vw;
  height: 30vh;
  left: 38vw;
  bottom: 0px;
}
.info_btn_screen1{
  cursor: pointer;
  width: 9vh;
  height: 8.8vh;
  right: 3.6vw;
  top: 5vh;
}
