.Screen1 {
  width: 100vw;
  height: 100vh;
}
.lastBoard {
  position: absolute;
  width: 42vw;
  height: 53.34vh;
  left: 29vw;
  top: 31vh;
}
.lastTitle {
  position: absolute;
  width: 27.5vw;
  height: 9.5vw;
  left: -1vw;
  top: 4vh;
}
.totalStar {
  position: absolute;
  width: 24.5vw;
  height: 9.5vw;
  left: 37.75vw;
  top: 34vh;
}
.screenShotBtn {
  z-index: 5;
  position: absolute;
  width: 19.5vw;
  height: 5.3vw;
  left: 40.25vw;
  top: 76.8vh;
}
.lastCharacter {
  position: absolute;
  width: 26.56vw;
  height: 18.75vw;
  left: 37.22vw;
  top: 0px;
}
.hand {
  z-index: 10;
  position: absolute;
  width: 21.35vw;
  height: 3.4375vw;
  left: 39.75vw;
  top: 29.26vh;
}
.scoreText {
  position: absolute;
  width: 26vw;
  left: 37vw;
  height: 10vh;
  top: 48vh;
  font-family: "Baloo";
  font-style: normal;
  font-weight: 400;
  font-size: 3.38vw;
  line-height: 15.74vh;
  text-align: center;
  letter-spacing: -0.05em;
  color: #373e4a;
}
.totalScoreContent {
  display: flex;
  position: absolute;
  width: 26vw;
  left: 37vw;
  top: 61vh;
  font-family: "Baloo";
  text-align: center;
  letter-spacing: -0.05em;
}
.totalScore {
  position: absolute;
  padding-right: 1vh;
  left: 34vw;
  top: 62vh;
  width: 16vw;
  height: 8.856vw;
  font-size: 10.38vw;
  line-height: 15.74vh;
  font-family: "Baloo";
  text-align: right;
  letter-spacing: -0.05em;
  color: #b760ff;
}
.totalQuiz {
  position: absolute;
  width: 11vw;
  height: fit-content;
  left: 50vw;
  top: 64vh;
  font-size: 6vw;
  line-height: 15.74vh;
  font-family: "Baloo";
  text-align: left;
  letter-spacing: -0.05em;
  color: #752a6f;
}
.shineBg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.banner {
  position: absolute;
  width: 64.6vw;
  height: 8.88vh;
  left: 17.7vw;
  top: 88vh;
}
#congatulation {
  z-index: 10;
  position: absolute;
  width: 58vw;
  height: fit-content;
  left: 21vw;
  top: 88.5vh;
  font-family: "Baloo";
  font-style: normal;
  font-weight: 400;
  font-size: 4.44vh;
  line-height: 9.25vh;
  text-align: center;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: #333333;
}
