.labelBg2 {
  position: absolute;
  width: 19.7vw;
  height: 19.7vw;
  top: 32.5vh;
}
#labelEasy {
  left: 15.47vw;
}
#labelMedium {
  left: 38.9vw;
}
#labelHard {
  left: 61.93vw;
}
.levelText {
  position: absolute;

}
#levelEasy{
  left: 20.47vw;
  width: 9.7vw;
  height: 8.7vw;
  top: 40.5vh;
}
#levelMedium{
  left: 40.9vw;
  width: 15.7vw;
  height: 12.7vw;
  top: 39.5vh;
}
#levelHard{
  left: 66.93vw;
  width: 10.7vw;
  height: 7.7vw;
  top: 42.5vh;
}
